{% extends 'index.html' %}

{% block content %}
  <div class = 'check_psw_div'>
    <a href = 'settings' class = 'arrow_to_back margin_arrow'>
      <img src = '/static/images/arrow2.png' class = 'arrow_to_back_img'>
    </a>
    <form action = '' method = 'post' class = 'check_psw_form'>
      {{form.hidden_tag()}}
      <h3> Введите новый пароль </h3>
      <div class = 'password_div_change_psw'>
        {% if form.password.errors %}
        {{form.password(class = 'password password1_change_psw wrong_field input_field', placeholder = 'Введите пароль')}}
        {% else %}
        {{form.password(class = 'password password1_change_psw input_field', placeholder = 'Введите пароль')}}
        {% endif %}
        <img src = '{{url_for("static", filename="images/eye_close.png")}}' class = 'see_password'>
      </div>
      <div class = 'password_div_change_psw'>
        {% if form.password_again.errors %}
        {{form.password_again(class = 'password password2_change_psw wrong_field input_field', placeholder = 'Введите пароль повторно')}}
        {% else %}
        {{form.password_again(class = 'password password2_change_psw input_field', placeholder = 'Введите пароль повторно')}}
        {% endif %}
        <img src = '{{url_for("static", filename="images/eye_close.png")}}' class = 'see_password'>
      </div>
      <div class = 'fast_messages_error'>
      {% for e in [form.password.errors, form.password_again.errors] %}
          {% if e[0] %}
            <p> {{e[0]}} </p>
          {% endif %}
      {% endfor %}
      </div>
      {% for cat, msg in get_flashed_messages(True) %}
      <div class = 'fast_messages_{{cat}}'>
        <p> {{msg}} </p>
      </div>
      {% endfor %}
      <div class = 'submit_change_psw'>
        {{form.submit(id = 'submit_filter', class = 'hover_submit')}}
      </div>
    </form>
  </div>
{% endblock %}
